body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #d6eedf;
}

#title {
  text-align: center;
  text-decoration: underline;
  font-size: xx-large;
  font-weight: 700;
  background-color: rgba(0,255,133,0.56);
}

#instructions {
  padding-right: 5px;
  text-align: justify;
  font-size: large;
  font-weight: 600;
  padding-left: 20px;
  background-color: rgba(0,255,133,0.56);
}

#numberToMatch {
  text-align: center;
  font-size: 75px;
  font-weight: 700;
  background-color: rgba(0,148,255,0.14);
}

#winLoss {
  text-align: left;
  font-size: 30px;
  font-weight: 500;
  background-color: rgba(0,148,255,0.31);
}

.crystalImg {
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: white;
  border: solid;
  border-color: lightblue;
}

.crystals-button {
  display: inline;
}

#display {
  align-content: center;
  margin: 25px;
  background-color: rgba(0,148,255,0.14);
}

#crystals {
  padding-left: 100px;
}

#scoreArea {
  text-align: left;
  font-size: 35px;
  font-weight: 700;
  background-color: rgba(0,148,255,0.14);
}

